<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ serie.serieShow }}">{{ serie.title }}</a>
        </h5>
        <img src="{{ serie.images.show }}" alt="card-img-top" style="width: 100%; height:auto;">
        <div id="description">
            <p class="card-text" id="collapseDescription">{{ serie.description }})</p>
        </div>
        <div class="text-primary">Nombre de saisons: {{ serie.numberOfSeasons }}</div>
        <div class="text-primary">Nombre dépisodes: {{ serie.numberOfEpisodes }}</div>
        {% if app.user %}
            <div class="text-primary">Dernier dépisode: {{ serie.lastEpisode }}</div>
            <a class="btn {% if serie.isfavorite == false %}btn-primary{% else %}btn-danger {% endif %}" href={{ serie.toggleFavorite }}>{% if serie.isfavorite == false %}Ajouter en favori{% else %}supprimer des favoris{% endif %}</a>
        {%  endif %}
    </div>
</div>