<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ serie.serieShow }}">{{ serie.title }}</a>
        </h5>
        <img src="{{ serie.images.show }}" alt="card-img-top" style="width: 100%; height:auto;">
        <div id="description">
            <p class="card-text" id="collapseDescription">{{ serie.description }})</p>
        </div>
        <div class="text-primary">Nombre de saisons: {{ serie.numberOfSeasons }}</div>
        <div class="text-primary">Nombre dépisodes: {{ serie.numberOfEpisodes }}</div>
        <div class="text-primary">Dernier dépisode: {{ serie.lastEpisode }}</div>
        <a class="btn btn-primary" href="{{path('serie.add', {id: serie.id}) }}" role="button">Ajouter</a>
        <a class="btn btn-danger" href="{{path('serie.delete', {id: serie.id}) }}" role="button">Supprimer</a>
    </div>
</div>